@import controllers.forms.TaskCreate
@import helper._
@(taskCreateFrom: Form[TaskCreate])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("create") {
    <div class="container">

        <div class="row">
            <div class="input-field col s8 offset-s2">
            @form(CSRF(Call("POST", "/task/create"))) {
                @for(error <- taskCreateFrom.errors) {
                    <p class="error"><font color="red">error.message</font></p>
                }
            </div>

            <div class="row">
                <div class="input-field col s8 offset-s2">
                    <input id="title" type="text" class="validate" name="title">
                    <label for="title">タイトル</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s8 offset-s2">
                    <span>ステータス</span>
                    <select class="browser-default" name="status">
                        <option value="BeforeStart">BeforeStart</option>
                        <option value="InProgress">InProgress</option>
                        <option value="Done">Done</option>
                    </select>
                </div>
            </div>

            <div class="row center">
                <div class="input-field col s8 offset-s2">
                    <button type="submit" class="waves-effect waves-light btn-large">作成</button>
                </div>
            </div>
            }



        </div>
    </div>
}