@import controllers.dtos.TaskDTO
@import helper._
@(tasks: Seq[TaskDTO])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("TODO"){

    <div class="container">
        @if(tasks.isEmpty) {
            <h5>タスクはありません</h5>
        } else {
            <table class="highlight">
                <thead>
                    <tr>
                        <th>タイトル</th>
                        <th>ステータス</th>
                    </tr>
                </thead>
                <tbody>
                @for(task <- tasks) {
                    <tr>
                        <td>@task.title</td>
                        <td>@task.status</td>
                    </tr>
                }
                </tbody>
            </table>
        }

    </div>

}