
@(title: String)(content: Html)(implicit messagesProvider: MessagesProvider)

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

            <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("css/materialize.min.css")" media="screen,projection"/>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>"TODO APP"</title>

    </head>
    <body>

        @content
    </body>
</html>
